metadata/unpackaged/flows/Product_Quick_Search-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>AssemblySystem</name>
        <choiceText>Assembly System</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assembly System</stringValue>
        </value>
    </choices>
    <choices>
        <name>CloudyBot</name>
        <choiceText>CloudyBot</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CloudyBot</elementReference>
        </value>
    </choices>
    <choices>
        <name>RainbowBot</name>
        <choiceText>RainbowBot</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RainbowBot</elementReference>
        </value>
    </choices>
    <interviewLabel>Product Quick Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Quick Search</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Product_SeaRCH</name>
        <label>Product SeaRCH</label>
        <locationX>476</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Product</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ProductType</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>ProductName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductID</assignToReference>
            <field>ProductCode</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Search_Product</name>
        <label>Search Product</label>
        <locationX>268</locationX>
        <locationY>149</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_SeaRCH</targetReference>
        </connector>
        <fields>
            <name>ProductType</name>
            <choiceReferences>AssemblySystem</choiceReferences>
            <choiceReferences>CloudyBot</choiceReferences>
            <choiceReferences>RainbowBot</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AssemblySystem</defaultSelectedChoiceReference>
            <fieldText>ProductType</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Product</name>
        <label>Show Product</label>
        <locationX>712</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Product</name>
            <fieldText>{!ProductID}-{!ProductName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Search_Product</startElementReference>
    <variables>
        <name>ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
